/**************************
*
*	GENERAL
*
**************************/

.slider_wrapper {
	padding-top:57px;
	position: relative;
}

.slider_wrapper:after {
	content: "";
	height: 140px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #fff;
}


.camera_target_content {
	overflow: visible !important;
}

.camera_wrap {
	display: none;
	position: relative;
	overflow: visible !important;
	z-index: 2;
	margin: 0!important;
}

.camera_wrap img {
	max-width: 10000px;
}

.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
}

.camera_src {
	display: none;
}

.camera_caption {
  font: 400 120px 'Open Sans';
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 14.5%;
}
.camera_caption  span {
  display: block;
  font: 400 30px 'Open Sans';
  color: #efc94c;
  text-transform: uppercase;
  text-align: center;
  margin-top: -2%;
}

.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}

.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}

.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}

.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

.camera_target_content .camera_link {
    background: url(../images/blank.gif);
	display: block;
	height: 100%;
	text-decoration: none;
}

.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.6) url(../images/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	border-radius: 18px;
	height: 36px;
	left: 48%;
	overflow: hidden;
	position: absolute;
	margin: 0;
	top: 40%;
	width: 36px;
	z-index: 3;
}

.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}

.camerarelative {
	overflow: hidden;
	position: relative;
}

.camera_commands > .camera_stop {
	display: none;	
}

.camera_clear {
	display: block;
	clear: both;
}

.showIt {
	display: none;
}

.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}

.camera_pag {


}

.camera_wrap .camera_pag .camera_pag_ul {

}

.camera_wrap .camera_pag .camera_pag_ul li {

}

.camera_wrap .camera_pag .camera_pag_ul li+li {margin-left: 5px;}

.camera_wrap .camera_pag .camera_pag_ul li > span {

}

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span,
.camera_wrap .camera_pag .camera_pag_ul li:hover > span {

}

.camera_pag_ul li img {
	display: none;
	position: absolute;
}

.camera_pag_ul .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
	top: 0;
	left: 50%;
	margin-left: -4px;
	position: absolute;
}

.camera_prev, .camera_next {
    background: url("../images/arrow_r.png") 0 0 no-repeat;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 40.5%;
    width: 67px;
    height: 95px;
    z-index: 999;
    right: -28px;
    opacity: 1;

    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.camera_prev {
	background: url("../images/arrow_l.png") 0 0 no-repeat;
	left: -28px;
}

.camera_prev:hover,
.camera_next:hover {
	opacity: .75;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
}


/* =====================Responsive=====================*/

@media only screen and (max-width: 995px) {
	.slider_wrapper:after {
		height: 100px;
	}
}

/*@media only screen and (max-width: 979px) {
}*/
/*@media only screen and (max-width: 767px) {
}*/


@media only screen and (max-width: 769px) {
	
	.camera_prev, .camera_next {
		top: 36%;
	}
	
	.camera_caption {
		font-size: 60px;
	}
	.camera_caption  span {
		display: block;
		font-size: 20px;
	}

	.slider_wrapper:after {
		height: 30px;
	}
}

@media only screen and (max-width: 480px) {
	.camera_caption {
		font-size: 30px;
	}
	.camera_caption  span {
		padding: 0 50px;
	}
	.slider_wrapper:after {
		height: 20px;
	}
}
@media only screen and (max-width: 320px) {
}